
student_assignments/
bem/
bem/arXiv-1301-4668v1/anc/code_high.m
bem/arXiv-1301-4668v1/anc/code_medium.m
bem/arXiv-1301-4668v1/anc/mesh_high.stl
bem/arXiv-1301-4668v1/anc/mesh_high.txt
bem/arXiv-1301-4668v1/anc/mesh_medium.stl
bem/arXiv-1301-4668v1/anc/mesh_medium.txt
bem/arXiv-1301-4668v1/anc/result_high.txt
bem/arXiv-1301-4668v1/anc/result_medium.txt
bem/arXiv-1301-4668v1/article.pdf
bem/bem_book.pdf
bem/bem_matlab.pdf
bem/Introducing the boundary element method with MATLAB.pdf
student_assignments/.DS_Store
student_assignments/Cheryl/.DS_Store
student_assignments/Cheryl/Anti_plane_and_plane_strain_problems.pdf
student_assignments/Cheryl/Inferring_stress_from_slip_observations-submission.pdf
student_assignments/Cheryl/Integration_exercises_displacements_from_strains-submission.pdf
student_assignments/Cheryl/Plate_rotations_Euler_pole-submission.pdf
student_assignments/Grace/Week_2_Earthquake_Mechanics_Assignment___Coordinate_Transformations (GRACE).pdf
student_assignments/Grace/Week_3_Earthquake_Mechanics_Assignment___Kinematics (GRACE).pdf
student_assignments/Grace/Week_3_Earthquake_Mechanics_Integration_Exercises (GRACE).pdf
student_assignments/Grace/Week_4_Earthquake_Mechanics_Assignment___Earthquake_Stress_Orientations (GRACE).pdf
student_assignments/Grace/Week_6_Earthquake_Mechanics_Assignment___Dislocation_Models.pdf
student_assignments/Intan/2D and 3D Stress Orientation_Intan.pdf
student_assignments/Intan/Angular Velocity_Intan.pdf
student_assignments/Intan/Calculate Displacement from Strain_Intan.pdf
student_assignments/Intan/Landslide Dispacement and Strain_Intan.pdf
unicycle/
